<!DOCTYPE html>
<html>
<head>
    <title>HangPerson</title>
</head>

<body>
<!-- {% if guesses %}
    {% for guess in guesses %}
    {% if guess in word %}
    <h1>guess</h1>
    {% else %}
    <h1>_</h1>
    {% endif %}
    {% endfor %}
{% endif %} -->

<h1>{{all_words}}</h1>
<h1>{{word}}</h1>
<h1>{{ words_to_go }}</h1>
<h1>{{ index_cw }}</h1>
<p>===========================</p>
<h1>{{ guesses_made }}</h1>
<h1>Mistake total: {{ mistake_total }}</h1>
<p>============================</p>

<form action="{{url_for('in_game', all_words=all_words, index_cw=index_cw, guesses_made=guesses_made) }}" method='POST'>
    <label for="letter_guess">Guess a letter</label>
    <input type='text' maxlength='1' size='1' name='letter_guess'>
</form>



<h1>{{guesses}}</h1>

<h1>+++++++++++++++++++++++++++++++++++++++++++++++++++</h1>
{% if not word_guessed %}
<form action="{{url_for('word_guess', all_words=all_words, index_cw=index_cw, guesses_made=guesses_made, t=4) }}" method='POST'>
    <label for="word_guess">Guess the word</label>
    <input type='text' maxlength='7' size='7' name='word_guess'>
    
</form>


{% endif %}


<h1>+++++++++++++++++++++++++++++++++++++++++++++++++++</h1>


<form action="{{url_for('undo', all_words=all_words, index_cw=index_cw, guesses_made=guesses_made,s=5, q=7) }}" method="POST">
    <button type="submit">UNDO</button>
</form>
</body>





</html>