{% extends 'base.html' %}


{% block content %}



<h1 class='word'>{{word}}</h1>

<p>===========================</p>
<h1 class='guessed-lets'>Guessed letters: {{ guess_display(coded_guesses[:-1]) }}</h1>
<h1>Guesses remaining: {{ guesses_remaining }}</h1>
<p>============================</p>

<form action="{{url_for('in_game', all_words=all_words, index_cw=index_cw, coded_guesses=coded_guesses) }}" method='POST'>
    <label for="letter_guess">Guess a letter</label>
    <input type='text' maxlength='1' size='1' name='letter_guess'>
</form>



<h1>{{guesses}}</h1>

<h1>+++++++++++++++++++++++++++++++++++++++++++++++++++</h1>
{% if not word_guessed %}
<form action="{{url_for('word_guess', all_words=all_words, index_cw=index_cw, coded_guesses=coded_guesses, t=4) }}" method='POST'>
    <label for="word_guess">Guess the word</label>
    <input type='text' maxlength='7' size='7' name='word_guess'>
    
</form>


{% endif %}


<h1>+++++++++++++++++++++++++++++++++++++++++++++++++++</h1>


<form action="{{url_for('undo', all_words=all_words, index_cw=index_cw, coded_guesses=coded_guesses,s=5, q=7) }}" method="POST">
    <button type="submit">UNDO</button>
</form>


{% endblock %}